*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 573px;
    width: 474px;
    padding: 30px;
}

#logoutButton, #getAccountsButton, #sendAccountsButton{
    display: none;
}

.buttonContainer{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#list{
    display: none;
}

.mainCredentialsHeading{
    color: var(--primary-deep-blue, #1A4F95);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}


input{
    width: 100%;
    padding: 5px 12px 6px 12px;
    border-radius: 6px;
    border: 1px solid #696D8C;
    background: #FFF;
    outline: none;
    cursor: pointer;
    color: var(--primary-blue-100, #1A4F95);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mainCredentials {
    display: flex;
    flex-direction: column;
    gap: 15px;
}