@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
}

#logoutButton, #getAccountsButton, #sendAccountsButton, #loginButton{
    display: none;
}

.buttonContainer{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#list{
    display: none;
}

.mainCredentialsHeading{
    color: var(--primary-deep-blue, #1A4F95);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}


input{
    width: 100%;
    padding: 5px 12px 6px 12px;
    border-radius: 6px;
    border: 1px solid #696D8C;
    background: #FFF;
    outline: none;
    cursor: pointer;
    color: var(--primary-blue-100, #1A4F95);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mainCredentials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

button{
    border-radius: 5px;
    background: var(--gradients-linear-orange, linear-gradient(270deg, #FF8F3E 4.23%, #FFB178 91.19%));
    box-shadow: 0px 8px 24px 0px rgba(14, 31, 53, 0.08), 0px 6px 12px 0px rgba(14, 31, 53, 0.12), 0px 3px 6px 0px rgba(14, 31, 53, 0.08);
    min-width: 120px;
    padding: 11px 11px 12px 11px;
    color: var(--background-violet-25, #FEFEFF);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}


button:disabled{
   background: #696D8C;
   cursor: no-drop;
   box-shadow: none;
}

#loginWithButton{
    display: none;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.loginWithButtonHeading{
    color: var(--primary-deep-blue, #1A4F95);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}

.youtube{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #1A4F95;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 15px;
}

#mainCapture{
    display: none;
}

#mainCapture h1{
    color: var(--primary-deep-blue, #1A4F95);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}

.personal{
    margin: 0 auto 20px auto;
    display: flex;
    box-shadow: 0px 8px 24px 0px rgba(14, 31, 53, 0.08), 0px 6px 12px 0px rgba(14, 31, 53, 0.12), 0px 3px 6px 0px rgba(14, 31, 53, 0.08);
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}



#list{
    flex-direction: column;
    gap: 10px;
}

#logoutButton{
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    box-shadow: none;
    fill: #696D8C;
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 8px 24px rgba(14, 31, 53, 0.08)) drop-shadow(0px 6px 12px rgba(14, 31, 53, 0.12)) drop-shadow(0px 3px 6px rgba(14, 31, 53, 0.08));  
    min-width: 0;
    background-color: transparent;
    border-radius: 50%;
    margin: 30px auto 30px auto;
    background-color: transparent;
}

#logoutButton img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    
}

.informationBlock{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color: var(--text-primary, #1E2432);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.buttonContainer{
    margin-top: 32px;
}

#fieldsForCompany , #fieldsForUser{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#fieldsForCompany textarea ,#fieldsForUser textarea{
    padding: 13px 12px;
    width: 100%;
    height: 180px;
    outline: none;
}


.existTable input{
    padding: 5px 12px 6px 12px;
    border-radius: 6px;
    border: 1px solid #E8EBFE;
    background: #FFF;
    color: #1A4F95;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family:'Segoe UI';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}

.existTable td:last-child input, .existTable td:last-child textarea{
    border: none;
    background-color: #F9FAFF;
}
table{
    background-color: #F9FAFF;
    border-collapse: collapse;
}


table, th, td {
    border-collapse: collapse;
  }

table td{
    padding: 5px 10px;
}

.existTable td:first-child {
    color: var(--text-primary, #1E2432);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    padding: 0 10px;
} 

thead th{
    color: var(--text-primary, #1E2432);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
    text-transform: uppercase;
}

.existTable textarea, .existTable input {
    width: 162px;
    padding: 5px 12px 6px 12px;
}

.existTable td:nth-child(2){
    text-align: center;
}